
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 90%;
  background-color: #F2F2F2;
  margin: 0;
}

img {
  width: 100%;
}

nav {
  width: 100%;
  border-top: 2px solid rgb(252, 238, 33);
}

main {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-size: 4em;
}

h1, strong {
  font-weight: 700;
}

h1 strong, nav h1, footer h1 {
  font-family: 'Coiny', cursive;
  font-size: 7.33rem;
}

nav h1, footer h1 {
  font-size: 3.5em;
  margin: 0;
}

footer {
  width: 100%;
  background-color: rgb(252, 238, 33);
}

ol {
  font-size: 2em;
  font-weight: 400;
  list-style-position: inside;
}

label,textarea { 
  display: block;
  margin-bottom: 5px;
}

form span { 
  color: #C1272D;
}

input{
  height: 40px;
}

input,textarea {
  width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 1.66em;
  background-color: rgb(252, 238, 33);
}

h3 {
  font-weight: 900;
  font-size: 2.66em;
}

p {
  font-size: 1.75em;
}

a {
  color: black;
  text-decoration: none;
}

form{
  background-color: #ebe8e8;
  display: block;
  margin: auto;
}

span {
  color: red;
}